/**************GENERAL*************/
*{
    box-sizing: border-box;
    color: azure;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}
p{
    margin: 0;
    margin-bottom: 1rem;
}

body{
    background-image: url("/media/zombie-survival-1-scaled.jpg");
    background-size: 100%;

}
/********************************/

/**************SPANS*************/
span.bold{
    font-family: 'Bebas Neue', sans-serif;
    display: block;
    line-height: 40px;
    font-size: 32px;
}

span.normal{
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0px;
    font-size: 17px;
}
/********************************/

.container{
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    justify-content: space-between;
    max-width: 1200px;
}

.main-header{
    margin-bottom: 200px;
}

header nav a{ /* HEADER BUTTONS*/
    display: inline-block;
    padding: 40px 20px;
}

.content{ /* CONTENT CONTAINER */
    margin-bottom: 100px;
}

.game-title{
    font-size: 75px;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 5px;
}

.container.buttons { /* BUY BUTTONS CONTAINER */
    flex-direction: column;
    margin: 5px 0px;
}

.btn{
    background-repeat: no-repeat !important;
    text-align: left;
    position: relative;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000;
    min-height: 82px;
}

.forum {
    background-image: url("/media/spiffo.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-color: #2f3b43;
    background-position: right bottom;
    text-align: center;
}

.steam{
    background: url(/media/steam.svg);
    background-size: 40px;
    background-color: #cd003b;
    background-position: 15px center;
}

.center{
    margin-left: 40px;
}

.gog{
    background: url(/media/GOG.svg);
    background-color: #471666;
    background-size: 70px;
    background-position: 0px center;
}

.logos{
    right: 15px;
    bottom: 0;
    width: 50px;
    position: absolute;
}

.container.articles{
    gap: 20px;
}

.art-title{
    background: none;
    font-size: 60px;
    margin: 0;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px #000000;
}

@media (width < 900px){
    .container{
        gap: 10px;
    }
}